body{
    line-height: 1.5;
}
.lh-12{
    line-height: 1.2;
}

.fs-20{
    font-size: 20px;
}
.container{
    max-width: 640px;
    margin: 0 auto;
}
.w-45{
    width: 45%;
}
.mx-20{
    margin-left: 20px;
    margin-right: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.d-flex{
    display: flex;
}